################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
**/.vs
/csharp/goatgitter/lib/.vs
/csharp/goatgitter/lib/obj/Debug
/csharp/goatgitter/lib/obj/Release
